body {
    background-color: rgb(168, 144, 190);
    padding: 0;
    width: 100%;
    margin: 0;
}

.miau {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: black;
    color:blueviolet;
    font-size: 20px;
    font-family: fantasy;
    text-align: center;
    padding: 1px 0;
}

header h1 {
    margin: 0;
    text-align: center;
}

main {
    text-align: center;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

}

nav ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 35px;
}

nav ul li a {
    color: purple;
}

.busqueda {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
}

.caja-busqueda {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    margin-right: 17px;
    background-color: rgb(203, 197, 210);
    color: purple;
    font-family: fantasy;
    border-color: rgb(105, 24, 124);
    border-width: 4px;
    border-style: solid;
    border-radius: 17px;
}

.boton-busqueda {
    padding: 10px;
    border: none;
    border-radius: 17px;
    background-color: purple;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: monospace;
}

.miau2 {
    flex: 3;
    padding-right: 20px;
}

.miau2 article {
    margin-bottom: 20px;
}

.miau2 h2 {
    margin-top: 30px;
    text-align: left;
    font-size: 38px;
    font-family: 'Franklin Gothic Medium';
}

.miau2 h3 {
    margin-top: 0px;
    text-align: left;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

.miau2 img {
    width: 800px;
    display: block;
    margin: 60px 0;
}

aside.barralat {
    flex: 1;
    padding-left: 30px;
    border-left: 2px solid white;
    text-align: left;
}

aside.barralat h2 {
    margin-top: 30;
    font-size: 25px;
    color: black;
}

aside.barralat ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside.barralat li {
    margin-bottom: 10px;
}

aside.barralat a {
    color: rgb(115, 33, 124);
    font-size: 19px;
    font-family:Arial, Helvetica, sans-serif;
}

footer {
    background-color: gray;
    padding: 10px 0;
    text-align: center;
    border-top: 2px solid white;
}

footer p {
    margin: 0;
}