body {
    background-color: rgb(168, 144, 190);
}

header {
    background-color: black;
    color:blueviolet;
    font-size: 20px;
    font-family: fantasy;
    text-align: center;
}

main {
    text-align: center;
    font-size: 13px;
    font-family: monospace;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

miau1 {
    font-size: 20px;
}

